
<div class=row>
  <div class="col col-xs-12">
      
    
    <div class="form-group">
      <label for="productdescription">Product Description</label>
      <input type="text" class="form-control" id="productdescription" name="productdescription" value="<%= product.productdescription %>" required>
    </div>
    <div class="form-group">
      <label for="pricePerUnit">Price</label>
      <input type="text" class="form-control" id="pricePerUnit" name="pricePerUnit" value="<%= product.pricePerUnit %>" required>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="text" class="form-control" id="quantity" name="quantity" value="<%= product.quantity %>" required>
    </div>
    <div class="form-group">
      <label for="street2">Product Assurance</label>
      <input type="text" class="form-control" id="productAssurance" name="productAssurance" value="<%= product.productAssurance %>">
    </div>
    <div class="form-group">
      <label for="manufactureddate">Manufactured Date</label>
      <input type="text" class="form-control" id="manufactureddate" name="manufactureddate" value="<%= product.manufactureddate %>" required>
    </div>
    <div class="form-group">
      <label for="expirydate">Expiry Date</label>
      <input type="text" class="form-caontrol" id="expirydate" name="expirydate" value="<%= product.expirydate%>" required>
    </div>
    <div class="form-group">
      <label for="ratings">Ratings</label>
      <input type="text" class="form-control" id="ratings" name="ratings" value="<%= product.ratings %>" required>
    </div>
    
    
  </div>
</div>
